* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}   

.container {
    width: 20vw;
    height: 80vh;
    background-color: white;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    align-items: center;
}

.container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rollno {
    width: 80%;
    height: 25%;
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 3px solid black;
    font-size: 4rem;
    font-weight: bold;
}

.name {
    width: 80%;
    height: 5%;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 3px solid black;
}

.prn {
    width: 80%;
    height: 5%;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 3px solid black;
}

.batch {
    width: 80%;
    height: 5%;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 3px solid black;
}

.buttons {
    width: 80%;
    height: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 48%;
    border-radius: 10px;
    font-size: 1.7rem;
}

.button-absent {
    background-color: lightcoral;
}

.button-present {
    background-color: lightgreen;
}

.button-present:hover {
    background-color: rgb(0, 202, 0);
}

.button-absent:hover {
    background-color: red;
}

@media screen and (max-width: 700px) {
    
    .container {
        width: 98%;
        height: 98%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }


    .rollno {
        height: 30%;

    }

    
    .buttons {
        height: 20%;
        gap: 4%;
    }

}
