<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>BlitzAttend</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/attend-style.css') }}">
</head>
<body>
    <div class="body">
        <div class="container">

            <form method="post" id="form" action="/submit-attendance">

                <h1>{{course}}</h1>
                
                <input type="hidden" name="course-name" value="{{course}}" id="course-name">

                <div class="rollno" id="rollno"> -- rollno -- </div>

                <div class="name" id="name"> -- name -- </div>

                <div class="prn" id="prn"> -- prn -- </div>

                <div class="batch" id="batch"> -- batch -- </div>

                <input type="hidden" name="attendance" id="attendance">

                <div class="buttons">
                    <button type="button" class="button button-absent" onclick="markAttendance(0)"> Absent </button>
                    <button type="button" class="button button-present" onclick="markAttendance(1)"> Present </button>
                </div>
            </form>
            
        </div>
    </div>

    <script> const students = {{data | tojson}}; </script>
    <script src="{{ url_for('static', filename='script/attend-script.js') }}"></script>
</body>
</html>