<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>BlitzAttend</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/attend-style.css') }}">
</head>
<body>
    <div class="body">
        <div class="container">

            <form method="post" id="form" action="/submit-attendance">

                <h1 class="course-title">{{course}}</h1>
                
                <input type="hidden" name="course-name" value="{{course}}" id="course-name">
                <input type="hidden" name="attendance" id="attendance">

                <div class="students-list" id="students-list">
                </div>

                <div class="submit-container">
                    <button type="button" class="button button-submit" onclick="submitAttendance()">Submit Attendance</button>
                </div>
            </form>
            
        </div>
    </div>

    <script> const students = {{data | tojson}}; </script>
    <script src="{{ url_for('static', filename='script/attend-script.js') }}"></script>
</body>
</html>