<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>BlitzAttend</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/index-style.css') }}">
</head>
<body>
    <div class="body">
        <div class="container">

            <h1 class="heading">Class selection</h1>

            <form action="/load-courses" method="post">
                <select name="select-class" id="select-class" class="select-element" required>
                    <option value="">--Select a class--</option>
                    {% for class in classes.keys() %}
                        <option value="{{class}}" class="options">{{class}}</option>
                    {% endfor %}
                </select>

                <select name="select-batch" id="select-batch" class="select-element">
                    <option value="">--Select a batch--</option>
                </select>

                <input type="submit" value="Load Courses" class="submit" id="load-courses">

            </form>

            <form action="/attendance" method="post">

                <select name="select-course" id="select-course" class="select-element" required>
                    <option value="">--Select a course--</option>
                    {% for course in courses %}
                        <option value="{{ course[0] }}" class="options">{{course[0]}}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="Next" class="submit" id="submit">
            </form>
        </div>
    </div>

    <script>const batches = {{ class_json | safe}};</script>
    <script src="{{ url_for('static', filename='script/index-script.js') }}"></script>
</body>
</html>